div#repl {
    width: 100%; height: 400px;
    position: relative;
    box-sizing: border-box;
    background: #191432;
    color: white;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 18px;
    line-height: 22px;
    overflow: scroll;
    border-radius: 4px;
}
div#repl-txt {
    width: 90%;
    position: absolute;
    top: 0; left: 10px;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}
div#holder {
    width: 90%; min-height: 100px;
    position: absolute;
    left: 50px;
    top: 16px;
    font-size: 16px;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace !important;
    padding-top: 1px;
}
div#repl pre.code {
    color: #f93;
    font-weight: bold;
    margin: 0; padding: 0;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 18px;
    line-height: 22px;
    background: transparent;
    border: none;
}
div#repl span.error {
    color: red;
    font-weight: bold;
    margin: 0; padding: 0;
}
div#repl span.time {
    color: #777;
    margin: 0; padding: 0;
}