<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/repl.css">
    <script src="javascripts/scale.fix.js"></script>
    <script src="js/arc.min.js"></script>

    <script src="lib/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="lib/codemirror/theme/ambiance.css">
    <script src="lib/codemirror/mode/clojure/clojure.js"></script>
    <script src="lib/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="lib/codemirror/keymap/emacs.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="javascripts/repl.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Arc.js</h1>
        <p class="header">An Arc-language interpreter written in JavaScript.</p>

        <ul>
          <li class="download"><a class="buttons" href="https://github.com/smihica/arc-js/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/smihica/arc-js/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/smihica/arc-js">View On GitHub</a></li>
        </ul>

        <!-- <p class="header">This project is maintained by <a class="header name" href="https://github.com/smihica">smihica</a></p> -->

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
